{
  "ConnectionStrings": {
    "DefaultConnection": "Server=xxx;DataBase=xxxx;Uid=xxx;Pwd=xxx;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}